
body {
  background-color: #000000;
	background: url('../images/Giant_Manta_AdF.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
