pre code, p code {
  font-family: 'Ubuntu', monospace;
}

body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #55542b;
	background-image:url('includes/images/back_4.gif');
	background-repeat:repeat;
}

