pre code, p code {
  font-family: 'Ubuntu', monospace;
}

body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #55542b;
	background-image:url('../images/back_2.gif');
	background-repeat:repeat;
}

